.widget {
	margin: 0 0 1.5em;

	// Make sure select elements fit in widgets.
	select {
		max-width: 100%;
	}
	
}
.widget-area{
	margin: 2rem 0;
	@media (min-width: 768px){
		margin: 0;
		margin-bottom: 2rem;
	}
	.widget{
		border-bottom: 1px solid #e7e7e7;
		margin-bottom: 40px;
		padding-bottom: 40px;
		&:last-child {
			margin-bottom: 0;
			padding: 0;
			border: 0;
		}
		.widget-title{
			font-weight: 600;
			font-style: normal;
			font-size: 25px;
			color: rgb(61, 61, 67);
			text-transform: none;
			letter-spacing: -0.01px;
			line-height: 26px;
			margin-top: 0;
		}
		.widgettitle{
			margin-top: 0;
			font-weight: 600;
			font-style: normal;
			font-size: 25px;
			color: rgb(61, 61, 67);
			text-transform: none;
			letter-spacing: -0.01px;
			line-height: 26px;
		}
		@media (max-width: 767px){
			margin-bottom: 30px;
			padding-bottom: 30px;
			&:last-child {
				margin-bottom: 30px;
				padding-bottom: 30px;
			}
		}
	}
	
	ul{
		list-style: none;
		text-decoration: none;
		margin: 0;
		padding: 0;
	}
	.widget_media_image{
		.image{
			text-align: center;
		}
	}
	.widget_search{
		.search-form{
			.search-field{
				width: 100%;
			}
			.search-submit{
				margin-top: 1rem;
			}
		}	
		@include for-tablet-portrait-up{
			.widget-title{
				margin-block-start: 0rem;
			}
		}
	}
	.widget_pages{
		ul{
			margin-block-start: 1em;
			margin-block-end: 1em;
		}
		li > ul, li > ol {
			margin-bottom: 0;
			margin-left: 1.5em;
		}
	}
	.tagcloud {
		line-height: normal;
		display: flex;
		flex-wrap: wrap;
		margin-bottom: -10px;
		.tag-cloud-link {
			color: $color_main;
			padding: .3rem .5rem;
			margin: 0 10px 10px 0;
			border: 1px solid $color_main;
			border-radius: 3px;
			font-size: 1rem !important;
			transition: all .5s;
			&:hover{
				opacity: 0.5;
			}
		}
	}
	p{
		a{
			border: none;
			border-radius: 3px;
			background: $color__background-button;
			color: white;
			line-height: 1;
			padding: 0.5rem 1rem;
			cursor: pointer;
			outline: none;
			font-weight: 600;
			font-style: normal;
			text-transform: uppercase;
			letter-spacing: 1px;
			transition: all .3s linear;
			&:hover {
				background: $color__background-button-hover;
				color: $color__link-hover;
			}
		}
	}
	.widget_media_gallery{
		.gallery {
			grid-gap: .5em;
			margin-bottom: 0em;
		}
		figure {
			margin: 0;
			line-height: 0;
		}

	}
	ul{
		li{
			margin-bottom: 10px;
			transition: all .3s;
			a{
				display: inline-block;
    			position: relative;
				
					
			}
			&:hover{
				color: $color_main;
				
			}
			&::before{
				content: '\f105';
				font-family: 'Font Awesome 5 Free';
				color: #848991;
				margin-right: 5px;
				font-size: .8rem;
			}
			
		}
	}
	
	.recent-posts-widget{
		
		.recent-posts{
			display: grid;
			grid-gap: 1.5rem;
			.recent-post{
				display: grid;
				grid-gap: 1rem;
			}
			
			.post-info{
				display: grid;
    			grid-gap: .2rem;
				a{
					font-size: 15px;
					font-weight: 600;
					color: #3d3d43;
				}
				
			}
		}
	}
	.social-widget{
		.widget-social{
			display: inline-flex;
			a{
				margin-right: 2rem;
				font-size: 25px;
			}
		}
	}
	.widget_archive{
		select{
			padding: 1rem 2rem;
		}
	}
}