.site-footer{
    background: #2f2c2c;
    hr{
        margin: 0;
    }
    .container{
        max-width: 100%;
        padding: 0 15px;
        @media (min-width: 1200px){
            padding: 0 60px;
        }
    }
    
    
    .footer-main{
        .row{
            display: flex;
            flex-wrap:wrap;
            align-items: normal;
            padding: 2rem 0;
        }
        .footer-widget_column{
            ul{
                list-style: none;
                margin: 0;
                padding: 0;
                li{
                    a{
                        font-size: 18px;
                        font-weight: 500;
                        line-height: 34px;
                        color: #fff;
                        transition: all .3s;
                        &:hover{
                            color: $color__link-hover;
                        }
                    }
                }
            }
            .wp-calendar-table{
                color: white;
            }
            .tagcloud {
                line-height: normal;
                display: flex;
                flex-wrap: wrap;
                margin-bottom: -10px;
                .tag-cloud-link {
                    color: #fff;
                    padding: 5px 15px;
                    margin: 0 10px 10px 0;
                    border: 1px solid #fff;
                    border-radius: 5px;
                    font-size: 1rem !important;
                    transition: all .5s;
                    &:hover{
                        border: 1px solid $color__border-button-hover;
                        color: #3b945e;
                    }
                }
            }
            width: 100%;
            @include for-phone-tablet-up{
                width: 50%;
                padding: 0 1rem;
            }
            a, p{
               color: #fff;
            }
            @media (min-width: 1400px){
                flex: 1;
            }
            
        }
        
        .footer-widget__about{
            .widget_about{
                .footer-widget__logo{
                    font-weight: 700;
                }
                p{
                    margin-bottom: 1rem;
                }
            }
        }
        .widget{
            padding: 0px;
        }
        
        .widget_search{
            .search-form{
                .search-submit{
                    margin-top: 1rem;
                }
                input[type="search"]{
                    margin-right: .5rem;
                }
            }	
            @include for-tablet-portrait-up{
                .widget-title{
                    margin-block-start: 0rem;
                }
            }
        }
        .widget_mc4wp_form_widget{
            p{
                margin: 0;
            }
            .mc4wp-form{
                input[type="email"]{
                    margin-right: .7rem;
                    margin-bottom: 1rem;
                }
                @media (min-width: 375px){
                    .mc4wp-form-fields{
                        display: flex;
                    }
                }
                @media (min-width: 576px){
                    .mc4wp-form-fields{
                        display: flex;
                        flex-direction: column;
                    }
                }
                @media (min-width: 780px){
                    .mc4wp-form-fields{
                        display: flex;
                        flex-direction: row;
                    }
                }
                input[type="email"]{
                    margin-right: .7rem;
                }
               label{
                   font-size: 0px;
               } 
            }
        }
        .gallery {
            margin-bottom: 0;
        }
        .widget-title{
            color: #fff;
            font-size: 22px;
            font-weight: 500;
            margin: 0;
            margin-bottom: 1rem;
            @include for-tablet-portrait-up{
                margin-bottom: 2rem;
            }
            
        }
        .widget_about{
            .footer-widget__logo{
                text-transform: uppercase;
                font-weight: 500;
                font-size: 25px;
            }
            p{
                padding-top: 1rem;
                font-size: 18px;
                line-height: 30px;
                font-weight: 500;
                margin: 0;
                @include for-tablet-portrait-up{
                    padding-top: 2rem;
                }
            }
            .footer-misc{
                a{
                    font-size: 20px;
                    font-weight: 500;
                    color: #fff;
                    &:hover{
                        color: $color__link-hover;
                    }
                }
            }
        }
        .widget_media_gallery{
            .gallery{
                grid-gap: .5rem;
            }
            figure {
                margin: 0;
            }
        }
        .widget_categories{
            select{
                padding: 1rem;
            }
        }
    }

}

.site-info{
    background: #181818;
    padding: 1rem 0;
    text-align: center;
    color: #fff;
    a, span{
        color: #fff;
        opacity: 0.5;
    }
    a:hover{
        opacity: 1;
    }
}