// Global CSS
.padding{
    padding: 4rem 0;
    @media (max-width: 1024px){
        padding: 2rem 0;
    }
}
@media (max-width: 1220px){
    .margin-bottom{
        margin-bottom: 2rem;
    }
    h3{
        margin: 0;
    }
}
.heading{
    padding: 2rem;
    text-align: center;
}
.button-container{
    padding: 2rem 0;
    text-align: center;
}
.mfp-arrow:hover, 
.mfp-arrow:focus,
.mfp-arrow:active,
.mfp-close:hover, 
.mfp-close:hover,
.mfp-close:active{
    background: none;
}
.highlight{
    background: #cde3eb89;
}
.site-main{
    h5,  
    .categories{
        a{
            color: #4a4f54;
            &:hover{
                color: $color_main;
            }
        }
    }
    @media (max-width: 768px){
        h5{
            margin: .5rem 0;
        }
    }

}
.banner-slider{
    @media (max-width: 1220px){
        .slick-arrow{
            display: none !important;
        }
    }
    .slick-next, .slick-prev {
        z-index: 1;
    }
    .slick-arrow{
        visibility: hidden;
        opacity: 0.5;
        transition: all 0.2s ease-in-out 0s;
    }
    .slick-arrow:hover{
        border-color: #07beb800 !important;
        background: #07beb800 !important;
        opacity: 1 !important; 
    }
    
    .slick-prev {
        left: 0px;
    }
    .slick-next {
        right: 0px;
    }
    .slick-prev:before {
        content: '\f053';
        font-family: 'Font Awesome 5 Free';
    }
    .slick-next:before, 
    .slick-prev:before {
        font-size: 35px;
        color: #eee;
    }
    .slick-next:before {
        content: '\f054';
        font-family: 'Font Awesome 5 Free';
    }
    &:hover .slick-arrow{
        visibility: initial;
    }
    &:hover .slick-prev {
        left: 16px;
    }
    &:hover .slick-next {
        right: 16px;
    }
    
    .slick-dots {
        position: absolute;
        bottom: 0;
        margin: 0;
        list-style: none;
        text-align: center;
       
        li {
            margin: 18px 0;
            line-height: 0;
        }
        li.slick-active button {
            background-color: $primary;
            border: 2px solid $primary;
        }
        button {
            display: inline-block;
            width: 12px;
            height: 12px;
            padding: 0 !important;
            border-radius: 100%;
            background-color: transparent;
            cursor: pointer;
            text-indent: -9999px;
            background-color: white;
            border: 2px solid #fff;
            transition: .2s;
        }
       
    }
    .slick-dotted.slick-slider {
        margin-bottom: 0;
    }
    .banner-one {
        position: relative;
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: top center;
        padding-top: 175px;
        padding-bottom: 180px;
        
        .container {
            position: relative;
            width: 100%;
            margin-right: auto;
            margin-left: auto;
            flex-direction: column;
            .banner-content{
                padding: 1rem;
                box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.05);
                background-color: #33353380;
                display: inline-block;
                animation: item-info 12s linear infinite;
                transform: translateY(100px);
                h1 {
                    margin: 0;
                    line-height: 1;
                    color: #ffffff;
                    font-weight: bold;
                    font-size: 45px;
                    @media (min-width: 992px){
                        font-size: 80px;
                    } 
                }
                p {
                    margin: 0;
                    color: #ffffff;
                    font-size: 20px;
                    font-weight: 400;
                    margin-bottom: 30px; 
                    @include for-desktop-up{
                        margin-top: 15px;
                    }
                }  
                .slider-btn{
                    margin-bottom: 20px;
                }
            }
                
        }
        @keyframes item-info{
            10%{
                transform: translateY(0px);
            }
            100%{
                transform: translateY(0px);
            }
        }
        .item-info-1{
            animation-delay: 0s;
        }
        .item-info-2{
            animation-delay: 3s;
        }
        .item-info-3{
            animation-delay: 6s;
        }
        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: #082740;
            opacity: 0.3;
        }
        
       
        @media (max-width: 480px){
            padding: 120px 0;   
        }
    }
}
.slider-innner-wrap{
    margin: 0 auto;
    width: 100%;
    max-width: 1160px;
    @media only screen and (max-width: 767px){
        max-width: 300px;
    }
    @media only screen and (max-width: 767px) and (min-width: 480px){
        max-width: 100%;
    }
    @media only screen and (max-width: 959px) and (min-width: 768px){
        max-width: 740px;
    }
    @media only screen and (max-width: 1024px) and (min-width: 960px){
        max-width: 900px;
    }
    @media only screen and (max-width: 1220px) and (min-width: 1025px){
        max-width: calc(100% - 60px);
    }
}
.service-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2rem;
    @media (min-width: 768px){
        padding: 0;
    }
    i{
        font-size: 3.5rem;
        color: $color_main;
    }
    
    .service-info-wrapper{
        width: 35%;
        padding-bottom: 2rem;
        p{
            margin-bottom: 2rem;
        }
    }
    .service-display-wrapper{
        width: 55%;
    }   
    .service-display-wrapper{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .service-box-overlay{
        content: '';
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        padding: 2rem;
        border-radius: 3px;
        background: #cde3eb;
        position: absolute;
        color: $color_main;
        transform: scaleY(0);
        transform-origin: right;
        transition: transform 0.5s;
        h5{
            margin: 0;
            
            a{
                color: $color_main;
                &:focus-within{
                    outline: $color__link-hover dashed 2px;
                }
                
            }
        }
        .fa-arrow-right{
            color: $color_main;
            font-size: 2rem;
        }
    }
    .service-box{
        position: relative;
        width: 48%;
        padding: 2rem;
        margin-bottom: 2rem;
        border-radius: 3px;
        transition: .5s ease-in-out;
        cursor: pointer;
        box-shadow: 0 1px 6px 0 rgba(0,0,0,0.1);
        &:hover .service-box-overlay{
            transform: scaleY(1);
            transform-origin: left;
            transition: transform 0.5s;
        }
        h5{
            font-weight: 500;
        }
       
    }
    @media (max-width: 1220px){
        flex-direction: column;
        h3{
            margin: 0;
        }
        .service-info-wrapper,
        .service-display-wrapper{
            width: 100%;
        }
        .service-box{
            width: 100%;
            @media (min-width: 567px) and (max-width: 1220px){
                    width: 48%;
        
            }
        }

    }
     
}
.about-section{
    background: rgb(250, 251, 253);
    .about-container{
        padding: 0 2rem;
        @media (min-width: 768px){
            padding: 0;
            .row-1{
                .about-content-wrapper{
                    margin-right: 1rem;
                }
                margin-bottom: 2rem;
            }
            .about-row-2{
                .about-content-wrapper{
                    margin-left: 1rem;
                }
            }
        }
        .about-row-1{
            display: flex;
            justify-content: space-between;
            .about-content-wrapper,
            .about-img{
                width: 45%;
                flex: 1;
            }
            .about-img{
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }

            }
            .about-content-wrapper{
                .section-title{
                    margin-block-start: 0em;
                    margin-block-end: 0em;
                    font-size: 2.5rem;
                    line-height: 3rem;
                }
                .section-subtitle{
                  font-weight: 600;
                  font-size: 1rem;
                  color: #7e7e7e;
                  margin-block-start: 0em;
                  margin-block-end: 0em;
                }

            }
            
           
        }
        @media (max-width: 767px){
            .about-row-1{
                flex-direction: column;
                .about-content-wrapper,
                .about-img{
                    width: 100%;
                }
            }
            .about-row-2{
                flex-direction: column-reverse;
            }
            
        }
    }
}
.overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    background: #143a5280;
    top: 0;
}
.call-to-video-section{
    background: url('./assets/img/hero-img-3.jpg') no-repeat top center / cover;
    position: relative;
    .call-to-video-wrapper{
        color: white;
        text-align: center;
        padding: 0 2rem;
        position: inherit;
        z-index: 1;
        h3{
            color: white;
            font-weight: 600;
        }
        @media (min-width: 768px){
            padding: 0;
        }
        
    }
    .popup-video{
        font-size: 4rem;
        border-radius: 50%;   
        outline: none;
        cursor: pointer;
        color: #fff;
        transition: transform .5s ease-in-out;
        border: 2px solid transparent;
        &:hover{
            transform: scale(1.2);
            background: $color_main;
            color: #cde3eb;
            border: 2px solid white;
        }
    }
} 


.portfolio-navbar{
    padding: 0 2rem;
    ul{
        margin: 0;
        margin-bottom: 1rem;
        padding: 0;
        text-decoration: none;
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        li{
            margin-right: 1rem;
            a{
                color: #7e7e7e;
                padding: .5rem;
                border-bottom: 2px solid transparent;
                cursor: pointer;
                &:hover,
                &.active{
                    border-bottom: 2px solid $color_main;
                    color: $color_main;
                }
                &:focus-within{
                    outline: $color__link-hover dashed 2px;
                }
                @media (max-width: 567px){
                   padding: 0;
                }
            }
        }
    }

    @media (min-width: 768px){
        padding: 0;
        margin-bottom: 2rem;
    }
}

.portfolio-container {
    display: flex;
    flex-wrap: wrap;
    margin: 0 2rem;
    @media (min-width: 768px){
        margin: 0;
    }
    .mfp-arrow:hover, .mfp-arrow:focus {
        outline: none;
    } 
    
    .mfp-arrow-right {
        top: 48%;
    }
    
    .portfoliobox{
        width: 33.33%;
        margin-bottom: 10px;
        h3{
            margin: 0;
            line-height: 2rem;
            a{
                color: white;
                cursor: pointer;
                &:hover{
                    text-decoration: none;
                    color: #848991;
                }
                &:focus-within{
                    outline: $color__link-hover dashed 2px;
                }
            }
        }
        
        @media (min-width: 566px) and (max-width: 990px){
            width: 50%;
            margin-bottom: 0;
            
        }
        
    }
    @media (max-width: 566px){
        flex-direction: column;
        .portfoliobox{
            width: 100%;
        }
    }
    @include for-phone-tablet-up{
        .portfoliobox{
            margin-bottom: 0px;
            h3{
                font-size: 1rem;
            }
            .hover-3-categories {
                font-size: .9rem;
            }
        }

    }

    .hover {
        overflow: hidden;
        position: relative;
        padding-bottom: 60%;
    }
      
    .hover-overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 90;
    transition: all 0.4s;
    }
      
    .hover img {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: all 0.3s;
    }
    
    .hover-content {
    position: relative;
    z-index: 99;
    }
    .hover-3::after {
        content: '';
        width: calc(100% - 3rem);
        height: calc(100% - 3rem);
        border: 1px solid #fff;
        position: absolute;
        top: 1.5rem;
        left: 1.5rem;
        z-index: 90;
        transition: all 0.3s;
        transform: scale(1.1);
        opacity: 0;
        display: block;
        opacity: 0;
      }
      
      .hover-3-content {
        position: absolute;
        top: 50%;
        left: 0;
        width: 100%;
        padding: 1.5rem;
        cursor: pointer;
        transform: translateY(-50%);
        text-align: center;
        z-index: 99;
      }
      .view{
        padding: .5rem;
        border-radius: 50%;
        opacity: 0;
        transform: scale(1.3);
        transition: all 0.3s;
        .fa-search-plus{
            color: white;
            &:hover{
                color: #848991;
            }
        }
    }
      
      .hover-3-categories {
        opacity: 0;
        transform: scale(1.3);
        transition: all 0.3s;
        font-size: .7rem;
        margin: 0;
        
        margin-bottom: 1rem;
        a{
            color: white;
            &:hover{
                color: #848991;
            }
        }
        @media (min-width: 425px){
            font-size: 1rem;
        }
        @include for-phone-tablet-up{
            font-size: .7rem;
        }
        @include for-tablet-landscape-up{
            font-size: .8rem;
        }
        @include for-desktop-up{
            font-size: 1rem;
        }
      }
      
      .hover-3-title{
        opacity: 0;
        margin-top: .8rem;
        transform: scale(1.3);
        transition: all 0.3s;
        font-size: .8rem;
      }
       
      .hover-3 img {
        width: 100%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
      
      .hover-3 .hover-overlay {
        background: rgba(0, 0, 0, 0.2);
      }
      
      .hover-3:hover img {
        width: 100%;
      }
      
      .hover-3:hover::after {
        opacity: 1;
        transform: none;
      }
      
      .hover-3:hover .hover-3-categories {
        opacity: 1;
        transform: none;
      }
      .hover-3:hover .hover-3-title {
        opacity: 1;
        transform: none;
      }
      .hover-3:hover .view{
        opacity: 1;
        transform: none;
      }

      .hover-3:hover .hover-overlay {
        background-color: rgba(20, 58, 82, 0.9);
      }
      
}

.team-section{
    .teams-container{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: 0 2rem;
        @media (min-width: 768px){
            margin: 0;
        }
        .team{
            width: 23%;
            display: flex;
            flex-direction: column;
            margin-bottom: 2rem;
            .team-image{
                position: relative;
                flex: 1;
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
                .team-social{
                    position: absolute;
                    background: $color__background-button;
                    width: 100%;
                    bottom: 0;
                    padding: .5rem 0;
                    opacity: 0;
                    transition: 1s ease-in-out;
                    text-align: center;
                    a{
                        margin-right: 1rem;
                        color: #fff;
                        opacity: 0.5;
                        &:hover{
                            opacity: 1;
                        }
                    }
                    
                }
                &:hover .team-social{
                    opacity: 1;
                }
    
            }
            .team-info{
                h5{
                    font-weight: 600;
                    font-style: normal;
                    font-size: 18px;
                    text-transform: none;
                    letter-spacing: -0.01em;
                    line-height: 30px;
                    color: rgba(49,50,51,1);
                    margin: 0;
                }
                h6{
                    font-size: 11px;
                    letter-spacing: 1px;
                    color: #848991;
                    text-transform: uppercase;
                    margin: 0;
                }
            }
        }
    }
    @media (max-width: 767px){
        .teams-container{
            .team{
                width: 48%;
            }
        }
    }
}

.our-recognition-section{
    background: #fafbfd;
    .our-recognition-container{
        padding: 0 2rem;
        @media (min-width: 768px){
            padding: 0;
        }
        h3{
            margin-top: 0;
        }
        display: flex;
        justify-content: space-between;
        .content{
            width: 35%;
            p{
                margin-bottom: 2rem;
            }
        }
        .numbers{
            width: 55%;
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            align-content: center;
            .number{
                background: #cde3eb;
                width: 48%;
                margin-bottom: 1rem;
                text-align: center;
                h2{
                    font-weight: 600;
                }
                p{
                    text-transform: uppercase;
                    font-weight: 500;
                    font-size: 18px;
                }
            }
        }
    }
    @media (max-width: 768px){
        .our-recognition-container{
            flex-direction: column;
            .content,
            .numbers{
                width: 100%;
            }
            .numbers{
                .number {
                    width: 48%;
                    padding: 1rem;
                    p{
                        font-size: 16px;
                    }
                    @media (max-width: 768px){
                        padding: 1rem;
                        h2, p{
                            margin: 0;
                        }
                        h2{
                            font-size: 30px;
                        }
                    }
                    @media (min-width: 768px){
                        width: 24%; 
                    }
                }
            }

        }
    }
}
.customer-reviews-section{
    @media (max-width: 767px){
        .slick-prev {
            left: 0 !important;
        }
        .slick-next{
            right: 0 !important;
        }
    }
    .customer-reviews-container{
        padding: 0 2rem;
        margin-bottom: 2rem;
        @media (min-width: 768px){
            padding: 0;
        }
        .slick-next:before, .slick-prev:before {
            color: #143a52;
        }
        .customer-review{
            display: flex !important;
            .image, blockquote{
                width: 50%;
            }
            blockquote{
                margin: 0;
                display: flex;
                flex-direction: column;
                justify-content: center;
                background: #fafbfd;
            }
            cite{
                span{
                    margin-left: 1rem;
                    display: block;
                    color: grey;
                }
            }
        }
    }
    @media (max-width: 566px){
        .customer-reviews-container{
            .customer-review{
                flex-direction: column;
                .image, blockquote{
                    width: 100%;
                }
            }
        }
    }
}
.call-to-action-section{
    background: url('./assets/img/hero-img-2.jpg') no-repeat top center / cover;
    position: relative;
    .call-to-action-wrapper{
        color: white;
        text-align: center;
        padding: 0 2rem;
        position: inherit;
        z-index: 1;
        h3{
            color: white;
            font-weight: 600;
        }
        @media (min-width: 768px){
            padding: 0;
        }
    }
}  
.key-features-section{
    .key-features-container{
        padding: 0 2rem;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        @media (min-width: 768px){
            padding: 0;
        }
        .item{
            width: 31.33%;
            padding: 2rem;
            margin-bottom: 2rem;
            border-radius: 3px;
            box-shadow: 0 1px 6px 0 rgba(0,0,0,0.1);
            transition: all 0.9s ease 0s;
            h5{
                a{
                    color: #4a4f54;
                    font-weight: 600;
                    &:hover{
                        color: $color_main;
                    }
                }
            }
            i{
                font-size: 3.5rem;
                color: $color_main;
            }
            p{
                margin: 0;
            }
            &:hover{
                background: #cde3eb;
            }
        }
    }
    @media (max-width: 567px){
        .key-features-container{
            flex-direction: column;
            .item{
                width: 100%;
            }
        }
    }
    @media (min-width: 567px) and (max-width: 990px){
        .key-features-container{
            flex-direction: row;
            .item{
                width: 48%;
            }
        }
    }
    
}
.recent-news-section{
    background: rgb(250, 251, 253);
    .container{
        padding: 0 2rem;
        @media (min-width: 768px){
            padding: 0;
        }
    }
    .heading{
        padding: 2rem 0;
    }
    .recent-news-container{
        overflow: hidden;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        .recent-news{
            overflow: hidden;
            width: 32.33%;
            border: 1px solid #7e7e7e47;
            .image{
                overflow: hidden;
                height: 250px;
                img{
                    transition: all 1.5s ease;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
            .article-info{
                text-align: center;                
                padding: 1.5rem 1rem;
                @media (min-width: 768px){
                    padding: 2rem;
                }
                background: white;
                .date{
                    color: #848991;
                }
                h5{
                    font-weight: 600;
                }
                .date::before{
                    content: '\f017';
                    font-family: 'Font Awesome 5 Free';
                    color: #848991;
                    margin-right: .5rem;
                }
            }
            &:hover .image img{
                transform: scale(1.2);
            }
        }
    }
    @media (max-width: 566px){
        .recent-news-container{
            flex-direction: column;
            .recent-news{
                width: 100%;
                margin-bottom: 2rem;
            }
        }
    }
    @media (min-width: 567px) and (max-width: 990px){
        .recent-news-container{
            flex-direction: row;
            .recent-news{
                width: 48%;
                margin-bottom: 2rem;
            
            }
        }

    }
}

.pricing-plan-section{
    .pricing-plan-container{
        padding: 0 2rem;
        display: flex;
        justify-content: space-between;
        .price-table-wrapper{
            width: 30%;
            overflow: hidden;
            padding: 2rem;
            box-shadow: 0 1px 6px 0 rgba(0,0,0,0.1);
            transition: transform .5s ease-in-out;

            .more-link{
                a{
                    padding: .5rem;
                    &:focus-within{
                        outline: $color__link-hover dashed 2px;
                    }
                }
            }
            &:hover{
                background: #cde3eb;
                transform: scale(1.1);
            }
        }
        @media (min-width: 768px){
            padding: 0;
        }
    }
    @media (max-width: 566px){
        .pricing-plan-container{
            flex-direction: column;
            .price-table-wrapper{
                width: 100%;
                margin-bottom: 2rem;
            }
        }
    }
    @media (min-width: 567px) and (max-width: 990px){
        .pricing-plan-container{
            flex-direction: row;
            flex-wrap: wrap;
            .price-table-wrapper{
                width: 48%;
                margin-bottom: 2rem;
            }
        }
    }
}
.call-to-brand-section{
    .call-to-brand-container{
        padding: 0 2rem;
        @media (min-width: 768px){
            padding: 0;
        }
    }
    background: rgb(250, 251, 253);
    .outline-btn{
        padding: .5rem;
    }
    hr{
        margin: 2rem 0;
    }
    .info-wrapper{
        text-align: center;
        h3{
            margin: 0;
        }
    }
    .brand-wrapper{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        .brand{
            width: 10.33%;
            display: flex;
            flex-direction: column;
            align-content: center;
            justify-content: center;
            @media (min-width: 500px){
                width: 25%;
            }
            .logo{
                flex: 1;
                text-align: center;
                img{
                    width: 50%;
                    @media (min-width: 500px){
                        width: 25%;
                    } 
                }
            }
            .logo-title{
                flex: 1;
            }
            h5{
                margin: 0;
                font-size: 25px;
                text-align: center;
            }
        }
    }
    @media (max-width: 500px){
        .brand-wrapper{
            .brand{
                width: 48%;         
                margin-bottom: 2rem;
                .logo {
                    margin-right: 0rem;
                }
                h5{
                    font-size: 20px;
                    
                }
            }
        }
    }
}
.contact-section{
    .contact-container{
        padding: 0 2rem;
        display: flex;
        justify-content: space-between;
        @media (min-width: 768px){
            padding: 0;
        }
        .contact-info-wrapper{
            width: 35%;
            p,
            h5{ 
                margin: 0;
            }
            h1{
                margin-top: 0;
            }
            .contact-info-details-wrapper{
                margin-top: 1rem;
            }

            .info-item{
                display: flex;
                margin-bottom: .5rem;
                .icon{
                    width: 10%;
                    i{
                        font-size: 1rem;
                    }
                }
                .info{
                    width: 50%;
                }
            }
        }
        .contact-form-wrapper{
            width: 50%;
            padding: 2rem 0;
            form{
                display: grid;
                grid-template-areas: 
                'fname fname email email'
                'subject subject subject subject'
                'message message message message'
                'submit-btn submit-btn submit-btn submit-btn';
                grid-gap: 1rem;
                .name{
                    grid-area: fname; 
                }
                .email{
                    grid-area: email;
                }
                .subject{
                    grid-area: subject;
                } 
                .message{
                    grid-area: message;
                }
                .submit-btn{
                    grid-area: submit-btn;
                }
                

            }
            .submit-btn{
                width: 100%;
                padding: 15px 40px;
                @media (min-width: 567px){
                    width: 50%;
                }
            }
    

            input{
                padding: .8rem;
                border-radius: 0;
                outline: none;
                width: 100%;
                box-shadow: inset 0 0 2px 0 rgba(0, 0, 0, 0.5);
            }
            .message{
                padding: .8rem;    
            }
        }   
    }
    @media (max-width: 768px){
        .contact-container{
            flex-direction: column;
            .contact-info-wrapper,
            .contact-form-wrapper{
                width: 100%;
            }
            .contact-form-wrapper form {
                display: inherit;
                input{
                    margin-bottom: 1rem;
                }
                
            }
            
        }
    }
    
}