a {
	color: $color__link;
	overflow-wrap: anywhere;
	text-decoration: none;

	&:visited {
		color: $color__link-visited;
	}

	&:hover,
	&:focus,
	&:active {
		color: $color__link-hover;
	}

	&:focus {
		outline: thin dotted;
	}
	&:focus-within{
		outline: $secondary dashed 2px;
	}

	&:hover,
	&:active {
		outline: 0;
	}
}
