$color__background-body: #fff;
$color__background-screen: #f1f1f1;
$color__background-hr: #ccc;
$color__background-button: #143a52;;
$color__background-button-hover: #cde3eb;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;

$color__text-screen: #21759b;
$color__text-input: #666;
$color__text-input-focus: #111;
$color__link: rgb(132, 137, 145);
$color__link-visited: rgb(132, 137, 145);
$color__link-hover: #143a52;
$color__text-main: #404040;
$color__border-button: #fff;
$color__border-button-hover: #cde3eb;
$color__border-button-focus: #cde3eb;
$color__border-input: #ccc;
$color__border-abbr: #666;

$color_main: #143a52;

$primary: #143a52;
$secondary: #cde3eb;

$color1: #e3eff3;
$color2: #cde3eb;
$color3: #6e828a;
$color4: #143a52;
$color5: #f9f9f9;
$color8: #c4ffdd;
$color7: #062743;
$color9:#113a5d;