/* Inherit box-sizing to more easily change it's value on a component level.
@link http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
*,
*::before,
*::after {
    box-sizing: inherit;
    
}
html {
	box-sizing: border-box;
}

.page {
    margin: 0 !important;
}
html, 
body {
    overflow-x: hidden; 
}
@mixin for-phone-up {
    @media (max-width: 576px) { @content; }
}
@mixin for-phone-tablet-up {
    @media (min-width: 576px) { @content; }
}
@mixin for-tablet-portrait-up {
    @media (min-width: 768px) { @content; }
}
@mixin for-tablet-landscape-up {
    @media (min-width: 992px) { @content; }
}
@mixin for-desktop-up {
    @media (min-width: 1200px) { @content; }
}
  @mixin for-big-desktop-up {
    @media (min-width: 1800px) { @content; }
}

.container{
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
    @media (max-width: 768px){
        max-width: 620px;
    }
    @include for-tablet-portrait-up{
        max-width: 720px;
    }
    @include for-tablet-landscape-up{
        max-width: 960px;
    }
    @include for-desktop-up{
        max-width: 1140px;
    }

}